<section class="task-container">
    <% payload.forEach((item) => { %>
        <div class="task-card">
            <div class="task-header">
                <h2 class="<%= item.state === 'C' ? 'task-completed' : '' %>" ><%= item.title %></h2>
                <div class="task-actions">
                    <div class="btn bg-gray" id="check-btn" data-id="<%= item.rowid %>" data-state="<%= item.state %>">
                       <img src="<%= item.state === 'C' ? '/static/img/icon-close.png' : '/static/img/icon-done.png' %>" class="icon" alt="done">
                    </div>
                    <div class="btn bg-gray" id="edit-btn">
                        <a href="/app/update-task/<%= item.rowid %>">
                            <img src="/static/img/icon-pencil.png" class="icon" alt="edit">
                        </a>
                    </div>
                    <div class="btn bg-gray" id="points-btn">
                        <img src="/static/img/icon-elipsis.png" class="icon" alt="elipsis">
                    </div>
                </div>
     
            </div>
            <div class="task-body">
                <p class="<%= item.state === 'C' ? 'task-completed' : '' %>"><%= item.description %></p>
            </div>
        </div>
    <% }) %>
</section>